@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div class="row">
    
    @* Col1 *@
    <div class="col-md-3">
        
        <form>
            <label for="edata">First Email:</label>
            <input type="email" id="edata" name="Email" placeholder="Email"/>
        </form>
        
        <p>COL 1. This is the test view. Change some stuff</p>

        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>

    </div>

    @* Col2 *@
    <div class="col-md-7">
        <p>COL 2. This is the test view. Change some stuff</p>

        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>

    </div>

    @* Col3 *@
    <div class="col-md-3">
        <p>COL 3. This is the test view. Change some stuff</p>

        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>

    </div>

</div>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input for="pwd" type="password" class="form-control" />
    </div>

    <div>
        <label for="major" class="form-label">Major</label>
        <select id="major" class="form-select">
            <option value="Comp Sci">Computer Science</option>
            <option value="Pshyc">Pshycology</option>
        </select>
    </div>
</form>
